/* DaimonPage.css */

/* Full viewport height */
.vh-100 {
  height: 100vh;
}

.position-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-animation-move {
  top: 10% !important;
  left: 10% !important;
  transform: translate(0, 0) !important;
}

.ml {
  width: 20vw; /* Relative width */
  height: auto;
}

.daimon-image {
  width: 50vw; /* Relative width */
  height: auto;
}

.first-animated-row {
  overflow: hidden;
  justify-content: center; /* Center the row contents */
}

.right-first-col,
.left-first-col {
  padding: 0;
}

.project-name {
  text-align: center;
  margin-top: 10px;
  width: 90%; /* Relative width */
}

.project-explanation {
  text-align: justify;
  font-size: 1.2em;
  margin-top: 30px;
  width: 80%; /* Relative width */
}

@media (max-width: 768px) {
  .daimon-image,
  .project-name,
  .project-explanation {
    width: fit-content; /* Adjusted width for smaller screens */
  }
  .project-name {
    font-size: 1.5em; /* Adjusted font size for smaller screens */
  }
  .project-explanation {
    font-size: 1em; /* Adjusted font size for smaller screens */
  }
  .left-first-col {
    justify-content: center !important;
    padding-right: 0;
  }
}
