/* DaimonPage.css */

/* First row */
/* Starting logo that apears in middle of the screen */
.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
}
/* finished */

.first-animated-row {
  overflow: hidden;
  justify-content: center; /* Center the row contents */
  height: 100vm;
}

.right-first-col {
  padding: 0
}

.left-first-col {
  padding: 0
}

.ml {
  width: 20vw; /* Relative width */
  height: auto;
}

.daimon-image {
  width: 50vw; /* Relative width */
  height: auto;
}

/* Second row */
.project-name {
  text-align: center;
  margin-top: 10px;
  width: 90%; /* Relative width */
}

.project-explanation {
  text-align: justify;
  font-size: 1.2em;
  margin-top: 30px;
  width: 80%; /* Relative width */
}

@media (max-width: 768px) {
  .o2 {
    width: fit-content; /* Adjusted width for smaller screens */
  }
  .daimon-image {
    width: fit-content; /* Adjusted width for smaller screens */
  }
  .project-name {
    font-size: 1.5em; /* Adjusted font size for smaller screens */
    width: 80%; /* Adjusted width for smaller screens */
  }
  .project-explanation {
    text-align: justify;
    font-size: 1em; /* Adjusted font size for smaller screens */
    width: 90%; /* Adjusted width for smaller screens */
  }
  .left-first-col{
    justify-content: center !important;
    padding-right: 0;
  }
}
